.tentang {
  height: 100vh;
  padding: 32px;
  padding-bottom: 180px;
  padding-top: 180px;
  h1 {
    font-size: 58px;
    font-family: basteleur;
  }
  .container {
    font-size: 18px;
    margin-top: 32px;
    line-height: 1.24;
    cursor: pointer;
    :hover {
      color: #cd2c3d;
    }
    p {
      border-top: 1px solid black;
      font-size: 32px;
      font-weight: 700;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
