.tentang {
  height: auto;
  padding: 32px;
  padding-bottom: 180px;
  padding-top: 180px;
  background-color: #cd2c3d;
  .container {
    font-size: 18px;
    margin-top: 32px;
    max-width: 860px;
    line-height: 1.24;
    white-space: wrap;
    p {
      margin: 15px 0;
    }
  }
}
