.program {
  height: 100vh;
  padding: 32px;
  padding-bottom: 180px;
  padding-top: 180px;
  background: #4b5592;
  h1 {
    font-size: 84px;
    font-family: basteleur;
  }
  .table {
    margin-top: 48px;
    font-size: 26px;
    font-weight: 500;
    p {
      border-top: 1px solid #989ec7;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
