.program {
  height: 100vh;
  padding: 32px;
  padding-bottom: 180px;
  padding-top: 180px;
  background: #cbcfe3;
  h1 {
    font-size: 84px;
    font-family: basteleur;
  }
  .table {
    margin-top: 48px;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    :hover {
      color: #cd2c3d;
    }

    p {
      border-top: 1px solid #323861;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
