.publik {
  height: 100vh;
  padding: 32px;
  padding-top: 180px;
  h1 {
    font-size: 58px;
    font-family: basteleur;
  }
  .caption {
    font-size: 24px;
    max-width: 672px;
    margin: 24px 0;
  }
}
