.festival {
  position: relative;
  display: grid;
  padding: 48px;
  margin-bottom: 40px;

  h1 {
    font-size: 32px;
    font-family: basteleur;
    color: #cd2c3d;
    margin-bottom: 40px;
    margin-top: 68px;
  }
}
.border {
  top: 0;
  left: 0;
  height: 1px;
  background-color: #b2b2b2;
  transform-origin: left;
  margin-bottom: 16px;
}
.container {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  .grid {
    padding-bottom: 32px;
    grid-column: 1 / span 6;
    :hover {
      color: #cd2c3d;
    }

    h2 {
      font-size: 32px;
      font-weight: 600;
    }
    p {
      margin-top: 2px;
      font-size: 18px;
    }
  }
  .date {
    margin-top: 32px;
    grid-column: 7 / span 6;
    grid-column: end;
    span {
      font-size: 20px;
      padding: 2px 4px;
    }
  }
}
