.festival {
  position: relative;
  padding: 32px;
  margin-bottom: 40px;
  h1 {
    font-size: 32px;
    font-family: basteleur;
    color: #cd2c3d;
    margin-bottom: 40px;
  }
}
.container {
  margin-top: 32px;

  .table {
    font-size: 50px;
    font-weight: 300;
    span {
      display: flex;
      padding: 32px;
      border-top: 1px solid black;
    }
  }
}
