.sponsor {
  position: relative;
  height: 100vh;
  padding: 24px 48px;
  margin-top: 160px;
  background-color: #f4f4f4;
  .head {
    margin-top: 32px;
    font-family: basteleur;
    color: #cd2c3d;
  }
}
