$small: 320px;

.page {
  display: flex;
  min-height: 100svh;
  padding: 32px;
  color: #c33840;

  .main {
    display: flex;
    flex-direction: column;
    p {
      font-size: 32px;
      font-weight: 600;
      @media screen and (max-width: $small) {
        font-size: 18px;
      }
    }
    span {
      font-size: 86px;
      font-family: basteleur;
      @media screen and (max-width: $small) {
        font-size: 42px;
      }
    }
  }
}
