.tim {
  position: relative;
  padding: 48px;
  margin-top: 180px;
  margin-bottom: 120px;
  h1 {
    font-size: 38px;
    font-weight: 600px;
  }
  span {
    color: #cd2c3d;
    display: flex;
    font-size: 48px;
    font-family: basteleur;
    text-wrap: wrap;
    margin-top: 8px;
  }
  .border {
    top: 0;
    left: 0;
    height: 1px;
    background-color: #b2b2b2;
    transform-origin: left;
    margin-top: 32px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    .heading {
      grid-column: 1 / span 8;
    }
  }
  .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
  }
}
