$small: 320px;
$medium: 768px;

.main {
  position: relative;
  overflow: hidden;
  height: 100vh;
  .hero {
    padding: 6px 48px;
    padding-top: 140px;
    span {
      font-size: 28px;
      font-weight: 700;
    }
    .title {
      margin-top: 8px;
      font-size: 48px;
      font-family: basteleur;
      color: #cd2c3d;
    }
  }
}
.paragraf {
  padding: 6px 48px;
  font-size: 18px;
  max-width: 762px;
}
.continue {
  padding: 24px 0px;
  font-weight: 600;
  :hover {
    color: gray;
  }
}
