$small: 320px;
$medium: 768px;

.main {
  position: relative;
  min-height: 100vh;
  margin-bottom: 104px;

  .hero {
    padding: 6px 104px;
    padding-top: 140px;

    span {
      font-size: 28px;
      font-weight: 700;
    }
    .title {
      margin-top: 8px;
      font-size: 104px;
      font-family: basteleur;
      color: #cd2c3d;
    }
  }
}

.paragraf {
  padding: 6px 104px;
  font-size: 18px;
  max-width: 762px;
}
.continue {
  padding-top: 32px;

  button {
    display: flex;
    align-items: center;
    font-size: 18px;
    border: none;
    background: #cd2c3d;
    color: #f9f9f9;
    padding: 8px 16px;
    :hover {
      color: #e67c89;
    }
  }
}
